html, body {
    height: 100%;
    width: 100%;

}

#brandNameCard0 {
    display: none;
}
#brandNameCard1 {
    display: none;
}
#brandNameCard2 {
    display: none;
}
#brandNameCard3 {
    display: none;
}
#brandNameCard4 {
    display: none;
}
#brandNameCard5 {
    display: none;
}
#brandNameCard6 {
    display: none;
}
#brandNameCard7 {
    display: none;
}
#brandNameCard8 {
    display: none;
}
#brandNameCard9 {
    display: none;
}
#brandNameCard10 {
    display: none;
}
#brandNameCard11 {
    display: none;
}
#brandNameCard {
    display: none;
}
#brandNameCard12 {
    display: none;
}
#brandNameCard {
    display: none;
}
#brandNameCard13 {
    display: none;
}
#brandNameCard14 {
    display: none;
}
#brandNameCard15 {
    display: none;
}
#brandNameCard16 {
    display: none;
}
#brandNameCard17 {
    display: none;
}
#brandNameCard18 {
    display: none;
}
